{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action = "/sell" method = "post">
        <select name = "symbol">
            {% for x in  stocks%}
                <option> {{x.symbol}} </option>
            {% endfor %}
        </select>
        <p> </p>
        <input class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text">
        <p> </p>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
